// main.scss
@import 'base/variables';
@import 'base/mixins';

// Section styles
@import 'sections/footer';
@import 'sections/header';
@import 'sections/hero';
@import 'sections/section-audits';
@import 'sections/skills';
@import 'sections/qualifications';
@import 'sections/courses';
@import 'sections/client-reviews';
@import 'sections/work';
@import 'sections/standards';
@import 'sections/experience';
@import 'sections/about-me';
@import 'sections/education';
@import 'sections/projects';



