.about-me-section {
  position: relative;
  background: 
    linear-gradient(rgba(5, 35, 59, 0.8), rgba(5, 35, 59, 0.8)), 
    url('../images/img.jpg') center/cover no-repeat;
  color: #fff;
  padding: 120px 0;
  overflow: hidden;

  /* Top-right pattern overlay */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 350px;
    background: url('../images/about-me-bg-pattern.png') no-repeat top right;
    background-size: contain;
    opacity: 0.6;
    pointer-events: none;
  }
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.about-me-text h2 {
  font-size: 80px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  line-height:104.66px;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.about-me-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  width: 479px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.about-me-image {
  position: relative;
  overflow: hidden;
}

.about-me-image img {
  width: 300px;
  height: 590px;
  transition: transform 0.5s ease;
}

.about-me-image:hover img {
  transform: scale(1.08);
}

.experience-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0a2b47;
  color: #fff;
  text-align: center;
  padding: 30px 10px;
  border-radius: 0 0 6px 6px;
}

.experience-box h3 {
  font-size: 74.86px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 140%;
  margin: 0;
  margin-left:-138px;
}

.experience-box p {
  font-size: 20px;
  width: 211px;
  line-height: 160%;
  color: #ffffff;
  margin: 10px 0 0;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.about-me-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me-services li {
  font-size: 17px;
  line-height: 2;
  color: #d7e3ec;
}
